{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h1 class="h4">Change password</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include "partials/form_fields.html" with form=form %}
                    <button type="submit" class="btn btn-clinic">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
